@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: coral;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('assets/header-image.jpg');
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.pacotes {
    background: #ccc;
    padding: 15px;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 20px;
    background: coral;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: dodgerblue;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: .8rem;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: .8rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: gray;
}

.pacotes .card-content li svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    color: gray;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.servios {
    padding: 15px;
}

.servicos-title {
    text-align: center;
    margin: 35px 0;
}

.servicos .servicos-cards {
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
    flex-wrap: wrap;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    transition: all 1s;
}

.servicos .card svg:hover {
    stroke: dodgerblue;
    transform: scale(1.1);
}

.servicos .card h3 {
    font-weight: bold;
}

.servicos .card p {
    color: gray;
    font-size: .8rem;
    text-align: center;
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
}

.servicos button {
    background: dodgerblue;
}


/*Landscape phone to portrait tablet*/

@media (max-width: 767px) {}


/*Landscape phones and down*/

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        background: orangered;
        color: white;
        font-weight: bold;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }
    header nav p {
        width: 100%;
        text-align: center;
    }
}